/* 
 * Login
 */

.w-login > .g-preloader {
	display: block;
	margin: 0 auto;
	}

.w-form.for_login .w-form-h {
	margin-left: 0;
	margin-right: 0;
	}
	.w-form.for_login .w-form-row {
		padding-left: 0;
		padding-right: 0;
		}
		.w-form.for_login .w-form-row.for_submit > * {
			vertical-align: middle;
			margin-inline-end: 1em;
			}
		.w-form-row-link {
			font-size: 0.9em;
			}

.w-profile {
	position: relative;
	line-height: 1.3;
	min-height: 64px;
	}
	.w-profile-link.for_user {
		display: block;
		padding-top: 8px;
		width: fit-content;
		}
	.w-profile-avatar {
		position: absolute;
		top: 0;
		overflow: hidden;
		background: rgba(0,0,0,0.2);
		max-width: 6em;
		border-radius: 50%;
		}
		.w-profile-avatar img {
			display: block;
			}
	.w-profile-name {
		display: block;
		font-weight: 600;
		margin-inline-start: 76px;
		}
	.w-profile-link.for_logout {
		font-size: 0.8em;
		margin-inline-start: 76px;
		color: inherit;
		opacity: 0.66;
		}
	.no-touch .w-profile-link.for_logout:hover {
		opacity: 1;
		}
/* Password eye */
.w-form-row.for_password .show-password-btn {
	position: absolute;
	inset-inline-end: var(--inputs-padding, .6em);
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	background: none;
	color: inherit;
	cursor: pointer;
	}
.w-form-row.for_password .show-password-btn.display-password {
	opacity: 0.5;
	}
	.w-form-row.for_password .show-password-btn::after {
		font-family: fontawesome;
		content: '\f06e';
		vertical-align: middle;
		}
