/*
 * Video
 */

.w-video {
	aspect-ratio: 16 / 9;
	}
.w-video:not(.confirm_load) {
	background: #111;
	}
	.w-video-h {
		position: relative;
		overflow: hidden;
		aspect-ratio: inherit;
		}
		.w-video-h iframe,
		.w-video-h object,
		.w-video-h embed,
		.w-video-h video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			}
		.w-video-h video {
			object-fit: cover;
			}
.w-video.align_center {
	margin: 0 auto;
	}
.w-video.align_left {
	margin-right: auto;
	}
.w-video.align_right {
	margin-left: auto;
	}

/* Aspect Ratio Fallback (after version 8.46.2) */
	.w-video.ratio_initial .w-video-h {
		height: auto;
		}
	.w-video.ratio_initial:not(.has_iframe) .w-video-h {
		aspect-ratio: auto;
		}
		.w-video.ratio_initial video {
			display: block;
			position: static;
			}

.w-hwrapper > .w-video,
.w-vwrapper > .w-video {
	width: 100%;
	}

.w-video.has_border_radius {
	overflow: hidden;
	transform: translateZ(0); /* overflow fix for Safari */
	}

/* Image Overlay */
.w-video.with_overlay {
	position: relative;
	background-size: cover;
	background-position: center;
	}
	.w-video.with_overlay .w-video-h > * {
		visibility: hidden;
		}
	button.w-video-play {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 !important;
		margin: 0 !important;
		border: none !important;
		background: none !important;
		box-shadow: none !important;
		outline-offset: calc( -1 * var(--focus-outline-width, 2px ) );
		}
	.w-video:not(.with_overlay) .w-video-play {
		display: none;
		visibility: hidden;
		}
		.w-video-play-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1.5em 0 0 -1.5em;
			line-height: 3;
			width: 2.8em;
			padding-left: .2em;
			text-align: center;
			box-sizing: content-box;
			border-radius: 50%;
			pointer-events: none;
			transition: transform .2s;
			}
		.no-touch .w-video-play:hover .w-video-play-icon,
		.w-video-play:focus-visible .w-video-play-icon {
			transform: scale(1.2);
			}
			.w-video-play-icon:after {
				content: '\f04b';
				font-family: fontawesome;
				font-weight: 900;
				vertical-align: top;
				}

/* Video Privacy Block */
.w-video-privacy {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	background: rgba(0,0,0,.06);
	}
	.w-video-privacy > :first-child {
		margin-top: auto;
		}
	.w-video-privacy > :last-child {
		margin-bottom: auto;
		}
