/*
 * HORIZONTAL Header
 */

.l-header {
	position: relative;
	z-index: 111;
	}
	.l-subheader {
		line-height: var(--header-area-height);
		height: var(--header-area-height);
		margin: 0 auto;
		}
		.l-subheader-h {
			display: flex;
			align-items: center;
			position: relative;
			margin: 0 auto;
			max-width: var(--site-content-width, 1200px);
			height: inherit;
			}
.w-header-show {
	display: none;
	}

/* Sticky header */
.l-header.pos_fixed {
	position: fixed;
	left: var(--site-outline-width, 0);
	right: var(--site-outline-width, 0);
	}
.l-header.pos_fixed:not(.notransition) .l-subheader {
	transition-property: transform, background, box-shadow, line-height, height, visibility;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(.78,.13,.15,.86);
	}

/* Sticky header initial bottom position  */
.headerinpos_bottom.sticky_first_section .l-header.pos_fixed {
	position: fixed !important;
	}

/* Sticky Auto-Hide */
.header_hor .l-header.sticky_auto_hide {
	transition: margin .3s cubic-bezier(.78,.13,.15,.86) .1s;
	}
.header_hor .l-header.sticky_auto_hide.down {
  	margin-top: calc(-1.1 * var(--header-sticky-height, 0px) );
	}

/* Transparent header */
.l-header.bg_transparent:not(.sticky) .l-subheader {
	box-shadow: none !important;
	background: none;
	}
.l-header.bg_transparent ~ .l-main .l-section.width_full.height_auto:first-of-type > .l-section-h {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	}

/* Not-sticky & Transparent header */
.l-header.pos_static.bg_transparent {
	position: absolute;
	left: var(--site-outline-width, 0);
	right: var(--site-outline-width, 0);
	}

/* Header width */
.l-subheader.width_full {
	--padding-inline: 0px;
	}
	.l-subheader.width_full > .l-subheader-h,
	.l-subheader.width_full_with_indents > .l-subheader-h {
		max-width: none !important;
		}

/* Header Shadow */
.l-header.shadow_thin .l-subheader.at_middle,
.l-header.shadow_thin .l-subheader.at_bottom {
	box-shadow: var(--box-shadow-thin);
	}
.l-header.shadow_wide .l-subheader.at_middle,
.l-header.shadow_wide .l-subheader.at_bottom {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.05);
	}

/* Header elements */
.header_hor .l-subheader-cell > .w-cart {
	margin-left: 0;
	margin-right: 0;
	}
